.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkpurple);
  width: 85vw;
  padding: 0.5rem 1rem;
  margin: 0.2rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
}
.list-container:hover {
  background-color: #3e2c5e;
  transition: all 0.3;
}
.coin-icon {
  height: 2.5rem;
  width: 2.5rem;
}
.name-col-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7rem;
  margin: 0rem 1rem;
}
.coin-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.extra-info-coin {
  display: flex;
  gap: 4rem;
}
.list-chip-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  margin: 0.5rem 1.5rem;
}
.coin-name {
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.25rem 0rem;
  text-transform: capitalize;
}
.coin-symbol {
  text-transform: uppercase;
}
.coin-volume {
  font-weight: 500;
  font-size: 1rem;
}
.coin-marketCap {
  font-weight: 500;
  font-size: 1rem;
}
.price-chip-green {
  border: 2px solid var(--green);
  border-radius: 2.5rem;
  padding: 0.25rem 0.75rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: var(--green);
}
.price-chip-green:hover {
  background-color: var(--green);
  color: var(--black);
}
.price-chip-red {
  border: 2px solid var(--red);
  border-radius: 2.5rem;
  padding: 0.25rem 0.75rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: var(--red);
}
.price-chip-red:hover {
  background-color: var(--red);
  color: var(--black);
}
.dsp-yes {
  display: inline;
}
.icon-green {
  border: 2px solid var(--green);
  border-radius: 50%;
  text-align: center;
  color: var(--green);
  padding: 0.4rem;
}
.icon-green:hover {
  background-color: var(--green);
  color: var(--black);
}
.dsp-no {
  display: none;
}
.icon-red {
  border: 2px solid var(--red);
  border-radius: 50%;
  text-align: center;
  color: var(--red);
  padding: 0.4rem;
}
.icon-red:hover {
  background-color: var(--red);
  color: var(--black);
}
.price-red {
  color: var(--red);
  margin: 1rem 1.5rem;
}
.price-green {
  color: var(--green);
  margin: 1rem 1.5rem;
}

@media screen and (max-width: 1000px) {
  .coin-marketCap {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .coin-volume {
    display: none;
  }
  .icon-green {
    display: none;
  }
  .icon-red {
    display: none;
  }
  .list-container {
    margin: 0.2rem;
    width: 88vw;
  }
}
@media screen and (max-width: 750px) {
  .list-container {
    margin: 0.2rem 2.5rem;
    justify-content: normal;
  }
  .name-col-flex {
    gap: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .list-container {
    margin: 0.2rem 0rem;
    justify-content: normal;
  }
  .name-col-flex {
    gap: 1rem;
  }
  .list-chip-flex {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
