.List-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0rem 1rem;
  justify-content: space-around;
  gap: 4rem;
  border-radius: 1rem;
  margin: 1rem 0;
}
.List-row:hover {
  cursor: pointer;
  background-color: #413060;
}
.chip-flex {
  text-align: left;
  margin: 0;
}
.info-flex {
  gap: 3rem;
}
.td-image {
  width: 3rem !important;
}
.td-right-align {
  text-align: right;
}
.mkt-price {
  font-size: 1.5rem;
  font-weight: 500;
}
.mobile {
  display: none;
}
.info-flex {
  margin: 0;
}
.price-red {
  margin: 0;
}
.margin-mid {
  margin: 1.5rem;
}

@media screen and (max-width: 1250px) {
  .List-row {
    gap: 2rem;
    width: 95%;
  }
}
@media screen and (max-width: 1050px) {
  .List-row {
    gap: 1rem;
    width: 95%;
  }
}
@media screen and (max-width: 900px) {
  .price-up {
    display: none;
  }
  .price-down {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .ttl-vol {
    display: none;
  }
  .List-row {
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .mkt-price {
    font-size: 1rem;
  }
  .td-small {
    font-size: small;
    font-weight: 500;
  }
  .mkt-cap {
    display: none;
  }
  .mobile {
    display: inline;
  }
}
@media screen and (max-width: 700px) {
  .td-small-icon {
    height: 2rem;
    width: 2rem;
  }
  .td-smaller {
    font-size: small;
  }

  .List-row {
    gap: 1rem;
  }
  .td-left-align {
    text-align: left;
  }
}
@media screen and (max-width: 550px) {
  .mkt-price {
    font-size: smaller;
    font-weight: 700;
  }
  .List-row {
    gap: 1.25rem;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .mobile {
    display: none;
  }
}
