.grid-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 1.5rem 1.75rem 2.5rem;
}
.list-table {
  width: 80%;
  /* display: block; */
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  overflow-x: auto !important;
}

/* Adjust tab width for three tabs */
.MuiTab-root {
  width: 33.33% !important;
}

@media screen and (max-width: 1000px) {
  .list-table {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .list-table {
    padding: 1rem 0.25rem 0rem 0.25rem;
    gap: 0.2rem;
  }
}
